<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">&laquo; Documentation Home</a>
                </li>

                <li<%= sidebar_current("docs-alicloud-index") %>>
                    <a href="/docs/providers/alicloud/index.html">Alicloud Provider</a>
                </li>

                 <li<%= sidebar_current("docs-alicloud-datasource") %>>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-datasource-regions") %>>
                            <a href="/docs/providers/alicloud/d/regions.html">alicloud_regions</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-instance-types") %>>
                            <a href="/docs/providers/alicloud/d/instance_types.html">alicloud_instance_types</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-images") %>>
                            <a href="/docs/providers/alicloud/d/images.html">alicloud_images</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-zones") %>>
                            <a href="/docs/providers/alicloud/d/zones.html">alicloud_zones</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-key-pairs") %>>
                            <a href="/docs/providers/alicloud/d/key_pairs.html">alicloud_key_pairs</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-kms-keys") %>>
                            <a href="/docs/providers/alicloud/d/kms_keys.html">alicloud_kms_keys</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-instances") %>>
                            <a href="/docs/providers/alicloud/d/instances.html">alicloud_instances</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-vpcs") %>>
                            <a href="/docs/providers/alicloud/d/vpcs.html">alicloud_vpcs</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-vswitches") %>>
                            <a href="/docs/providers/alicloud/d/vswitches.html">alicloud_vswitches</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-eips") %>>
                            <a href="/docs/providers/alicloud/d/eips.html">alicloud_eips</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-security-groups") %>>
                            <a href="/docs/providers/alicloud/d/security_groups.html">alicloud_security_groups</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-security-group-rules") %>>
                            <a href="/docs/providers/alicloud/d/security_group_rules.html">alicloud_security_group_rules</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-db-instances") %>>
                            <a href="/docs/providers/alicloud/d/db_instances.html">alicloud_db_instances</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-dns-domain-groups") %>>
                            <a href="/docs/providers/alicloud/d/dns_domain_groups.html">alicloud_dns_domain_groups</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-dns-domain-records") %>>
                            <a href="/docs/providers/alicloud/d/dns_domain_records.html">alicloud_dns_domain_records</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-dns-groups") %>>
                            <a href="/docs/providers/alicloud/d/dns_groups.html">alicloud_dns_groups</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-dns-records") %>>
                            <a href="/docs/providers/alicloud/d/dns_records.html">alicloud_dns_records</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-dns-domains") %>>
                            <a href="/docs/providers/alicloud/d/dns_domains.html">alicloud_dns_domains</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-ram-account-aliases") %>>
                            <a href="/docs/providers/alicloud/d/ram_account_aliases.html">alicloud_ram_account_aliases</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-ram-account-alias") %>>
                            <a href="/docs/providers/alicloud/d/ram_alias.html">alicloud_ram_account_alias</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-ram-groups") %>>
                            <a href="/docs/providers/alicloud/d/ram_groups.html">alicloud_ram_groups</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-ram-policies") %>>
                            <a href="/docs/providers/alicloud/d/ram_policies.html">alicloud_ram_policies</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-ram-roles") %>>
                            <a href="/docs/providers/alicloud/d/ram_roles.html">alicloud_ram_roles</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-datasource-ram-users") %>>
                            <a href="/docs/providers/alicloud/d/ram_users.html">alicloud_ram_users</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-ecs") %>>
                    <a href="#">ECS Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-disk") %>>
                            <a href="/docs/providers/alicloud/r/disk.html">alicloud_disk</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-disk-attachment") %>>
                            <a href="/docs/providers/alicloud/r/disk_attachment.html">alicloud_disk_attachment</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-instance") %>>
                            <a href="/docs/providers/alicloud/r/instance.html">alicloud_instance</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-security-group") %>>
                            <a href="/docs/providers/alicloud/r/security_group.html">alicloud_security_group</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-security-group-rule") %>>
                            <a href="/docs/providers/alicloud/r/security_group_rule.html">alicloud_security_group_rule</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-eip") %>>
                            <a href="/docs/providers/alicloud/r/eip.html">alicloud_eip</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-eip-association") %>>
                            <a href="/docs/providers/alicloud/r/eip_association.html">alicloud_eip_association</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-key-pair") %>>
                            <a href="/docs/providers/alicloud/r/key_pair.html">alicloud_key_pair</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-key-pair-attachment") %>>
                            <a href="/docs/providers/alicloud/r/key_pair_attachment.html">alicloud_key_pair_attachment</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-slb") %>>
                    <a href="#">SLB Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-slb") %>>
                            <a href="/docs/providers/alicloud/r/slb.html">alicloud_slb</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-slb-attachment") %>>
                            <a href="/docs/providers/alicloud/r/slb_attachment.html">alicloud_slb_attachment</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-slb-listener") %>>
                            <a href="/docs/providers/alicloud/r/slb_listener.html">alicloud_slb_listener</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-slb-rule") %>>
                            <a href="/docs/providers/alicloud/r/slb_rule.html">alicloud_slb_rule</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-slb-server-group") %>>
                            <a href="/docs/providers/alicloud/r/slb_server_group.html">alicloud_slb_server_group</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-vpc") %>>
                    <a href="#">VPC Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-vpc") %>>
                            <a href="/docs/providers/alicloud/r/vpc.html">alicloud_vpc</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-vswitch") %>>
                            <a href="/docs/providers/alicloud/r/vswitch.html">alicloud_vswitch</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-route-entry") %>>
                            <a href="/docs/providers/alicloud/r/vroute_entry.html">alicloud_route_entry</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-nat-gateway") %>>
                            <a href="/docs/providers/alicloud/r/nat_gateway.html">alicloud_nat_gateway</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-router-interface") %>>
                            <a href="/docs/providers/alicloud/r/router_interface.html">alicloud_router_interface</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-forward-entry") %>>
                            <a href="/docs/providers/alicloud/r/forward.html">alicloud_forward_entry</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-snat-entry") %>>
                            <a href="/docs/providers/alicloud/r/snat.html">alicloud_snat_entry</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-rds") %>>
                    <a href="#">RDS Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-rds") %>>
                            <a href="/docs/providers/alicloud/r/db_account.html">alicloud_db_account</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-rds") %>>
                            <a href="/docs/providers/alicloud/r/db_account_privilege.html">alicloud_db_account_privilege</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-rds") %>>
                            <a href="/docs/providers/alicloud/r/db_backup_policy.html">alicloud_db_backup_policy</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-rds") %>>
                            <a href="/docs/providers/alicloud/r/db_connection.html">alicloud_db_connection</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-rds") %>>
                            <a href="/docs/providers/alicloud/r/db_database.html">alicloud_db_database</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-rds") %>>
                            <a href="/docs/providers/alicloud/r/db_instance.html">alicloud_db_instance</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-ess") %>>
                    <a href="#">ESS Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-ess") %>>
                            <a href="/docs/providers/alicloud/r/ess_attachment.html">alicloud_ess_attachment</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ess") %>>
                            <a href="/docs/providers/alicloud/r/ess_scaling_group.html">alicloud_ess_scaling_group</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ess") %>>
                            <a href="/docs/providers/alicloud/r/ess_scaling_configuration.html">alicloud_ess_scaling_configuration</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ess") %>>
                            <a href="/docs/providers/alicloud/r/ess_scaling_rule.html">alicloud_ess_scaling_rule</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ess") %>>
                            <a href="/docs/providers/alicloud/r/ess_schedule.html">alicloud_ess_schedule</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-oss") %>>
                    <a href="#">OSS Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-oss") %>>
                            <a href="/docs/providers/alicloud/r/oss_bucket.html">alicloud_oss_bucket</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-oss") %>>
                            <a href="/docs/providers/alicloud/r/oss_bucket_object.html">alicloud_oss_bucket_object</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-container") %>>
                    <a href="#">Container Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-container") %>>
                            <a href="/docs/providers/alicloud/r/container_cluster.html">alicloud_container_cluster</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-container") %>>
                            <a href="/docs/providers/alicloud/r/cs_application.html">alicloud_cs_application</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-container") %>>
                            <a href="/docs/providers/alicloud/r/cs_swarm.html">alicloud_cs_swarm</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-container") %>>
                            <a href="/docs/providers/alicloud/r/cs_kubernetes.html">alicloud_cs_kubernetes</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-cms-alarm") %>>
                    <a href="#">Cloud Monitor Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-cms-alarm") %>>
                            <a href="/docs/providers/alicloud/r/cms_alarm.html">alicloud_cms_alarm</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-dns") %>>
                    <a href="#">DNS Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-dns") %>>
                            <a href="/docs/providers/alicloud/r/dns.html">alicloud_dns</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-dns-group") %>>
                            <a href="/docs/providers/alicloud/r/dns_group.html">alicloud_dns_group</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-dns-record") %>>
                            <a href="/docs/providers/alicloud/r/dns_record.html">alicloud_dns_record</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-log-project") %>>
                    <a href="#">Log Service Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-log-project") %>>
                            <a href="/docs/providers/alicloud/r/log_project.html">alicloud_log_project</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-ram") %>>
                    <a href="#">RAM Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-ram-access-key") %>>
                            <a href="/docs/providers/alicloud/r/ram_access_key.html">alicloud_ram_access_key</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-account-alias") %>>
                            <a href="/docs/providers/alicloud/r/ram_account_alias.html">alicloud_ram_account_alias</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-alias") %>>
                            <a href="/docs/providers/alicloud/r/ram_alias.html">alicloud_ram_alias</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-group") %>>
                            <a href="/docs/providers/alicloud/r/ram_group.html">alicloud_ram_group</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-group-membership") %>>
                            <a href="/docs/providers/alicloud/r/ram_group_membership.html">alicloud_ram_group_membership</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-group-policy-attachment") %>>
                            <a href="/docs/providers/alicloud/r/ram_group_policy_attachment.html">alicloud_ram_group_policy_attachment</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-login-profile") %>>
                            <a href="/docs/providers/alicloud/r/ram_login_profile.html">alicloud_ram_login_profile</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-policy") %>>
                            <a href="/docs/providers/alicloud/r/ram_policy.html">alicloud_ram_policy</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-role") %>>
                            <a href="/docs/providers/alicloud/r/ram_role.html">alicloud_ram_role</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-role-policy-attachment") %>>
                            <a href="/docs/providers/alicloud/r/ram_role_policy_attachment.html">alicloud_ram_role_policy_attachment</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-user") %>>
                            <a href="/docs/providers/alicloud/r/ram_user.html">alicloud_ram_user</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-user-policy-attachment") %>>
                            <a href="/docs/providers/alicloud/r/ram_user_policy_attachment.html">alicloud_ram_user_policy_attachment</a>
                        </li>
                        <li<%= sidebar_current("docs-alicloud-resource-ram-role-attachment") %>>
                            <a href="/docs/providers/alicloud/r/ram_role_attachment.html">alicloud_ram_role_attachment</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-cdn-domain") %>>
                    <a href="#">CDN Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-cdn-domain") %>>
                            <a href="/docs/providers/alicloud/r/cdn_domain.html">alicloud_cdn_domain</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-kms") %>>
                    <a href="#">KMS Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-kms") %>>
                            <a href="/docs/providers/alicloud/r/kms_key.html">alicloud_kms_key</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-alicloud-resource-ots") %>>
                    <a href="#">Table Store Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-alicloud-resource-ots-table") %>>
                            <a href="/docs/providers/alicloud/r/ots_table.html">alicloud_ots_table</a>
                        </li>
                    </ul>
                </li>




            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
